In [1]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
from datetime import datetime
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import  OneHotEncoder, StandardScaler
from sklearn.impute import SimpleImputer
from sklearn.compose import ColumnTransformer
from sklearn.linear_model import LogisticRegression
from sklearn.linear_model import LinearRegression
from sklearn.tree import DecisionTreeClassifier
from sklearn.ensemble import RandomForestClassifier
from sklearn.metrics import accuracy_score, confusion_matrix

In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
from datetime import datetime
import numpy as np
from scipy import stats 
import matplotlib.pyplot as plt
from matplotlib.ticker import NullFormatter
import matplotlib.ticker as ticker
%matplotlib inline
import scipy.stats as st
from datetime import datetime
import seaborn as sns
import statsmodels.api as sm
from scipy.stats import chi2_contingency
from scipy.stats import chi2
from statsmodels.graphics.mosaicplot import mosaic
from pylab import figure, axes, pie, title, show

In [3]:
# import dataset
print("Loading dataset...")
data = pd.read_csv("Walmart_Store_sales.csv")
print("...Done.")
# print(dataset.shape)
# print(dataset.describe(include="all"))

Loading dataset...
...Done.

In [4]:
data

,Store,Date,Weekly_Sales,Holiday_Flag,Temperature,Fuel_Price,CPI,Unemployment
0,6.0,18-02-2011,1572117.54,NaN,59.61,3.045,214.777523,6.858
1,13.0,25-03-2011,1807545.43,0.0,42.38,3.435,128.616064,7.470
2,17.0,27-07-2012,NaN,0.0,NaN,NaN,130.719581,5.936
3,11.0,NaN,1244390.03,0.0,84.57,NaN,214.556497,7.346
4,6.0,28-05-2010,1644470.66,0.0,78.89,2.759,212.412888,7.092
...,...,...,...,...,...,...,...,...
145,14.0,18-06-2010,2248645.59,0.0,72.62,2.780,182.442420,8.899
146,7.0,NaN,716388.81,NaN,20.74,2.778,NaN,NaN
147,17.0,11-06-2010,845252.21,0.0,57.14,2.841,126.111903,NaN
148,8.0,12-08-2011,856796.10,0.0,86.05,3.638,219.007525,NaN
149,19.0,20-04-2012,1255087.26,0.0,55.20,4.170,137.923067,8.150

In [5]:
data1 = data.copy()
data1

,Store,Date,Weekly_Sales,Holiday_Flag,Temperature,Fuel_Price,CPI,Unemployment
0,6.0,18-02-2011,1572117.54,NaN,59.61,3.045,214.777523,6.858
1,13.0,25-03-2011,1807545.43,0.0,42.38,3.435,128.616064,7.470
2,17.0,27-07-2012,NaN,0.0,NaN,NaN,130.719581,5.936
3,11.0,NaN,1244390.03,0.0,84.57,NaN,214.556497,7.346
4,6.0,28-05-2010,1644470.66,0.0,78.89,2.759,212.412888,7.092
...,...,...,...,...,...,...,...,...
145,14.0,18-06-2010,2248645.59,0.0,72.62,2.780,182.442420,8.899
146,7.0,NaN,716388.81,NaN,20.74,2.778,NaN,NaN
147,17.0,11-06-2010,845252.21,0.0,57.14,2.841,126.111903,NaN
148,8.0,12-08-2011,856796.10,0.0,86.05,3.638,219.007525,NaN
149,19.0,20-04-2012,1255087.26,0.0,55.20,4.170,137.923067,8.150

In [6]:
data1.isnull().sum()

Store            0
Date            18
Weekly_Sales    14
Holiday_Flag    12
Temperature     18
Fuel_Price      14
CPI             12
Unemployment    15
dtype: int64

In [7]:
data1.isna().sum()

Store            0
Date            18
Weekly_Sales    14
Holiday_Flag    12
Temperature     18
Fuel_Price      14
CPI             12
Unemployment    15
dtype: int64

In [8]:
#data1.Weekly_Sales = data1['Weekly_Sales'].replace{}'NaN': weekMean, inplace = True)
#data1["Weekly_Sales"]= data1["Weekly_Sales"].replace({"NaN": weekMean}, inplace=True)
#data1['Weekly_Sales'].fillna(value=data1['Weekly_Sales'].mean(), inplace=True)
#data1.Weekly_Sales = data1.Weekly_Sales.fillna(value=data1['Weekly_Sales'].mean(), inplace=True)

In [9]:
data1.mean()

Store           9.866667e+00
Weekly_Sales    1.249536e+06
Holiday_Flag    7.971014e-02
Temperature     6.139811e+01
Fuel_Price      3.320853e+00
CPI             1.798985e+02
Unemployment    7.598430e+00
dtype: float64

In [10]:
data1['Weekly_Sales']= round(data1.Weekly_Sales.fillna(data1.Weekly_Sales.mean()),2)
data1['Temperature']= data1.Temperature.fillna(data1.Temperature.mean())
data1['Fuel_Price']= round(data1.Fuel_Price.fillna(data1.Fuel_Price.mean()),2)
data1['CPI']= round(data1.CPI.fillna(data1.CPI.mean()),2)
data1['Unemployment']= round(data1.Unemployment.fillna(data1.Unemployment.mean()),2)

In [11]:
data1['Store']= data1['Store'].astype(int)

In [12]:
data1['Holiday_Flag'] = data1['Holiday_Flag'].fillna(0)

In [13]:
data1

,Store,Date,Weekly_Sales,Holiday_Flag,Temperature,Fuel_Price,CPI,Unemployment
0,6,18-02-2011,1572117.54,0.0,59.610000,3.04,214.78,6.86
1,13,25-03-2011,1807545.43,0.0,42.380000,3.44,128.62,7.47
2,17,27-07-2012,1249535.83,0.0,61.398106,3.32,130.72,5.94
3,11,NaN,1244390.03,0.0,84.570000,3.32,214.56,7.35
4,6,28-05-2010,1644470.66,0.0,78.890000,2.76,212.41,7.09
...,...,...,...,...,...,...,...,...
145,14,18-06-2010,2248645.59,0.0,72.620000,2.78,182.44,8.90
146,7,NaN,716388.81,0.0,20.740000,2.78,179.90,7.60
147,17,11-06-2010,845252.21,0.0,57.140000,2.84,126.11,7.60
148,8,12-08-2011,856796.10,0.0,86.050000,3.64,219.01,7.60
149,19,20-04-2012,1255087.26,0.0,55.200000,4.17,137.92,8.15

In [14]:
data1['Holiday_Flag'] = data1['Holiday_Flag'].fillna(0)

In [15]:
data1.columns

Index(['Store', 'Date', 'Weekly_Sales', 'Holiday_Flag', 'Temperature',
       'Fuel_Price', 'CPI', 'Unemployment'],
      dtype='object')

In [16]:
# Separate target variable Y from features X
print("Separating target variable from features...")

## Choose the columns you want to have as your features
features_list = ["Store", 'Weekly_Sales', 'Holiday_Flag',  
                'Temperature', 'CPI','Unemployment']

X = data1.loc[:,['Store','CPI','Unemployment']] # We add feature_list into our loc 
y = data1.loc[:,'Weekly_Sales'] # We set "Salary" as the target variable

print("...Done.")
print()

Separating target variable from features...
...Done.

In [17]:
# Divide dataset Train set & Test set 
## First we import train_test_split


print("Splitting dataset into train set and test set...")
## Then we use train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, 
                                                    test_size=0.2, 
                                                    random_state=0)

print("...Done.")

Splitting dataset into train set and test set...
...Done.

In [18]:
X_train.head(5)

     Store     CPI  Unemployment
137     10  126.13          9.20
84       8  214.89          6.32
27      16  192.83          6.34
127     16  189.52          6.87
132      4  129.15          5.64

In [19]:
### Training pipeline ###
print("--- Training pipeline ---")
print()  

# Encoding categorical features and standardizing numeric features

print("#### X_train BEFORE preprocessing ####")
print(X_train.head())
print()

print("Encoding categorical features and standardizing numerical features...")
## First let's import libraries
## StandardScaler to scale data (i.e apply Z-score)
## OneHotEncoder to encode categorical variables


numeric_features = [1] # Choose which column index we are going to scale
numeric_transformer = StandardScaler()

categorical_features = [0] 
categorical_transformer = OneHotEncoder()


# Apply ColumnTransformer to create a pipeline that will apply the above preprocessing
feature_encoder = ColumnTransformer(
    transformers=[
        ('cat', categorical_transformer, categorical_features),    
        ('num', numeric_transformer, numeric_features)
        ]
    )

X_train = feature_encoder.fit_transform(X_train)###  ATTENTION  ET REFAIRE TOURNER CETTE VAR AVANT
print("...Done.")
print("#### X_train AFTER preprocessing ####")
print(X_train[0:5,:]) # print first 5 rows (not using iloc since now X_train became a numpy array)
print()

--- Training pipeline ---

#### X_train BEFORE preprocessing ####
     Store     CPI  Unemployment
137     10  126.13          9.20
84       8  214.89          6.32
27      16  192.83          6.34
127     16  189.52          6.87
132      4  129.15          5.64

Encoding categorical features and standardizing numerical features...
...Done.
#### X_train AFTER preprocessing ####
  (0, 9)	1.0
  (0, 20)	-1.3653107376033402
  (1, 7)	1.0
  (1, 20)	0.9294030232902779
  (2, 15)	1.0
  (2, 20)	0.3590854752358259
  (3, 15)	1.0
  (3, 20)	0.2735119900109737
  (4, 3)	1.0
  (4, 20)	-1.287234627216919

In [20]:
# Train model
print("Train model...")
regressor = LinearRegression()
regressor.fit(X_train, y_train) # This steps is the actual training !
print("...Done.")

Train model...
...Done.

In [21]:
# Predictions on training set
print("Predictions on training set...")
y_train_pred = regressor.predict(X_train)
print("...Done.")
print(y_train_pred[:5]) # print first 5 rows (not using iloc since now y_train became a numpy array)
print()

Predictions on training set...
...Done.
[1826846.09146868  931909.14941303  516158.18689837  517851.80732172
 2041238.82689666]

In [22]:
### Testing pipeline ###
print("--- Testing pipeline ---")

# Standardizing numeric features
print("Standardizing numerical features...")
print(X_test)
print()

X_test = feature_encoder.transform(X_test)

print("...Done.")
print(X_test[:5]) # print first 5 rows (not using iloc since now X_test became a numpy array)
print()

--- Testing pipeline ---
Standardizing numerical features...
     Store     CPI  Unemployment
114     11  215.06          7.56
62      12  126.88         14.31
33      14  179.90          8.42
107      8  214.62          6.30
7       20  213.02          6.96
100      3  214.79          7.34
40      18  137.98          8.30
86      17  131.04          6.24
76      15  137.58          7.94
71      20  215.22          7.60
134      6  225.05          5.33
51       2  211.66          8.16
73       1  211.57          7.79
54      10  130.72          7.17
63       5  224.02          5.42
37      18  134.28          8.98
78       1  218.22          7.87
90       9  214.66          6.44
45       2  220.28          7.06
16      13  179.90          7.95
121      5  216.05          6.53
66      18  132.61          9.34
24      19  138.03          8.15
8       14  179.90          7.60
126      8  218.83          6.42
22      18  138.91          8.24
44       1  211.24          8.11
97       5  210.94          7.60
93      12  129.06         13.74
26       3  179.90          6.83

...Done.
  (0, 10)	1.0
  (0, 20)	0.9337980361266001
  (1, 11)	1.0
  (1, 20)	-1.3459209750901562
  (2, 13)	1.0
  (2, 20)	0.024805969508533202
  (3, 7)	1.0
  (3, 20)	0.9224227087855322
  (4, 19)	1.0
  (4, 20)	0.8810578820907398

In [23]:
# Predictions on test set
print("Predictions on test set...")
y_test_pred = regressor.predict(X_test)
print("...Done.")
print(y_test_pred[:5])
print()

Predictions on test set...
...Done.
[1409137.75649861  960695.1590688  2024969.28814698  932047.29971947
 1765618.84481199]

In [24]:
# Performance assessment
print("--- Assessing the performances of the model ---")

# Print R^2 scores
print("R2 score on training set : ", regressor.score(X_train, y_train))
print("R2 score on test set : ", regressor.score(X_test, y_test))

--- Assessing the performances of the model ---
R2 score on training set :  0.8709004080161529
R2 score on test set :  0.8597495341652646

In [25]:
print("coefficients are: ", regressor.coef_) 
print("Constant is: ", regressor.intercept_)

coefficients are:  [ 272428.44720107  737475.41272598 -616374.61766168  777141.29554281
 -755498.33061468  330632.9371186  -672096.76007593 -288317.98463038
 -706055.96703635  561203.32335396  188997.60598146 -304563.85819471
  733062.59549185  786838.89772507 -606982.71025292 -715356.33884866
 -331822.79969863  -55212.15609929  120066.11599287  544434.89197956
  -19791.41575097]
Constant is:  1238621.3356775576

In [26]:
# Print categories
categorical_column_names = feature_encoder.transformers_[0][1].categories_
print("Categorical columns are: ", categorical_column_names)

Categorical columns are:  [array([ 1,  2,  3,  4,  5,  6,  7,  8,  9, 10, 11, 12, 13, 14, 15, 16, 17,
       18, 19, 20])]

In [27]:
numerical_column_names = X.iloc[:, numeric_features].columns # using the .columns attribute gives us the name of the column 
print("numerical columns are: ", numerical_column_names)

numerical columns are:  Index(['CPI'], dtype='object')

In [28]:
all_column_names = np.append(categorical_column_names, numerical_column_names)
all_column_names

array([1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19,
       20, 'CPI'], dtype=object)

In [29]:
# Feature importance 
feature_importance = pd.DataFrame({
    "feature_names": all_column_names,
    "coefficients":regressor.coef_
})

feature_importance

   feature_names   coefficients
0              1  272428.447201
1              2  737475.412726
2              3 -616374.617662
3              4  777141.295543
4              5 -755498.330615
5              6  330632.937119
6              7 -672096.760076
7              8 -288317.984630
8              9 -706055.967036
9             10  561203.323354
10            11  188997.605981
11            12 -304563.858195
12            13  733062.595492
13            14  786838.897725
14            15 -606982.710253
15            16 -715356.338849
16            17 -331822.799699
17            18  -55212.156099
18            19  120066.115993
19            20  544434.891980
20           CPI  -19791.415751

In [34]:
new_x = [[0,0,0,0,1,20]]

In [35]:
regressor.predict(new_x)

ValueError: matmul: Input operand 1 has a mismatch in its core dimension 0, with gufunc signature (n?,k),(k,m?)->(n?,m?) (size 21 is different from 6)